<html>
<head>
	<title></title>
	
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap-responsive.min.css" rel="stylesheet">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<style type="text/css">
		body{  
			margin-left:auto;  
			margin-right:auto; 
			margin-top:20PX; 
			width:80%;
			}
		span{
			color:red;
		}
	</style>
</head>
<body>

<form action="{:U('Admin/Class/addClass')}" method="post" class="form-horizontal">

  <div class="control-group">
    <label class="control-label" >专业代码</label>
    <div class="controls">
      <input type="text"  readonly="true" name="pro_code" value="{$pro_code}"><span>&nbsp* </span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" >班级代码</label>
    <div class="controls">
      <input type="text"   name="cla_code" placeholder="班级代码"><span>&nbsp* </span>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" >班级名称</label>
    <div class="controls">
      <input type="text"  name="cla_name" placeholder="班级名称"><span>&nbsp* </span>
    </div>
  </div>
  


  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">添加</button>
    </div>
  </div>
</form>

</body>
</html>