<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no"/>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"> 
<link rel="shortcut icon" href="image/login.ico">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/tea_index.css">
	
<script type="text/javascript" src="__PUBLIC__/home/js/tea_index.js"></script>
</head>
<body>
	<div id="welcome">
	  <ul class="nav nav_right navbar-nav">
	      <li><a href="/educate/index.php/Home/teaInfo/showPerson.html"  id="welcome">欢迎你：{$name}</a></li>
	      <li><a href="/educate/index.php/Home/Index/tea_login_out.html" >注销</a></li>
	  </ul>
	</div>
    
	<div   class="content">

	<table class="table table-hover table-bordered">
	 {$thead}
	  <tbody>
		<foreach name="list" item="vo">
			<tr>
				<td>{$vo.cou_name}</td>
				<td>{$vo.tea_name}</td>
				<td>{$vo.cou_place}</td>
				<td></td>
				<td><a href="{:U('teaCourse/class_stu')}?cou_number={$vo.cou_number}">学生名单</a></td>
			</tr>
		</foreach>
	  </tbody>
	</table>
	{$page}
	</div>

</body>
</html>