<html>
<head>
	<title>增加管理员</title>
	
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap-responsive.min.css" rel="stylesheet">
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
	<style type="text/css">
		body{  
			margin-left:auto;  
			margin-right:auto; 
			margin-top:20PX; 
			width:80%;
			}
		span{
			color:red;
		}
	</style>
</head>
<body>

<form action="{:U('Admin/Adm/addUser')}" method="post" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" >用户名</label>
    <div class="controls">
      <input type="text"   name="adm_name" placeholder="用户名"><span>&nbsp* </span>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" >身份证号码</label>
    <div class="controls">
      <input type="text"  name="adm_idcard" placeholder="身份证号码">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" >联系方式</label>
    <div class="controls">
      <input type="text"   name="adm_contact" placeholder="联系方式">
    </div>
  </div>


    <div class="control-group">
    <label class="control-label" >权限设置</label>
    <div class="controls">
      <input type="text"   name="adm_permission" placeholder="权限设置"><span>&nbsp* </span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" >密码</label>
    <div class="controls">
      <input type="password"  name="adm_password" placeholder="Password"><span>&nbsp* </span>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" >确认密码</label>
    <div class="controls">
      <input type="password"  name="repassword" placeholder="rePassword"><span>&nbsp* </span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">添加</button>
    </div>
  </div>
</form>

</body>
</html>