<!DOCTYPE html>
<html>
<head>
	<title>所有管理员</title>
	<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body{
      width:90%;
      margin:auto;
    }
  </style>
</head>
<body>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>姓名</th>
      <th>身份证</th>
      <th>联系方式</th>
      <th>权限</th>
    </tr>
  </thead>
  <tbody>
	<foreach name="list" item="vo">
		<tr>
			<td>{$vo.adm_name}</td>
			<td>{$vo.adm_idcard}</td>
			<td>{$vo.adm_contact}</td>
      <td>{$vo.adm_permission}</td>
		</tr>
	</foreach>
    </tr>
  </tbody>
</table>
{$page}
</body>
</html>
