<html>
<head>
  <title></title>
  
  <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/bootstrap-responsive.min.css" rel="stylesheet">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <style type="text/css">
    body{  
      margin-left:auto;  
      margin-right:auto; 
      margin-top:20PX; 
      width:80%;
      }
    span{
      color:red;
    }
  </style>
</head>
<body>



<form action="{:U('Admin/Course/alterbook')}" method="post" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" >课程代码</label>
    <div class="controls">
      <input type="text"   name="cou_code" readonly="true" value="{$result.cou_code}"><span>&nbsp* </span>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" >书名</label>
    <div class="controls">
      <input type="text"   name="edu_name" value="{$result.edu_name}"><span>&nbsp* </span>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" >作者</label>
    <div class="controls">
      <input type="text" name="edu_author" value="{$result.edu_author}">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" >出版社</label>
    <div class="controls">
      <input type="text" name="edu_pubishing" value="{$result.edu_pubishing}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" >价格</label>
    <div class="controls">
      <input type="text" name="edu_price" value="{$result.edu_price}">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" >备注</label>
    <div class="controls">
      <input type="text" name="edu_remark" value="{$result.edu_remark}">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">修改</button>
    </div>
  </div>
</form>

</body>
</html>