<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="initial-scale=1,width=device-width,user-scalable=no"/>
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"> 
<link rel="shortcut icon" href="image/login.ico">
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/index.css">
<script type="text/javascript" src="__PUBLIC__/home/js/index.js"></script>	


</head>
<body>

	<div class="content">
		<div id="welcome">
		  <ul class="nav nav_right navbar-nav">
		      <li><a href="/educate/index.php/Home/PersonInfo/showPerson.html"  id="welcome">欢迎你：<?php echo session('stu_name');?></a></li>
		      <li><a href="/educate/index.php/Home/Index/login_out.html" >注销</a></li>
		  </ul>
		</div>

		
		<form action="{:U('Home/ManageCourse/judge')}" method="post">
		<table class="table table-hover table-bordered">
		<h3>评教</h3>
		 {$thead}
		  <tbody>
			<foreach name="list" item="vo">
				<tr>
					<td >{$vo.cou_name}</td>
					<td >{$vo.tea_name}</td>
					<td><input name="{$vo.cou_number}" value="{$vo.score}"></td>
				</tr>
			</foreach>
		  </tbody>
		</table>
		<input type="submit">
		</form>
	</div>
</body>
</html>